// cSpell: disable
@use './../../scss/base';
@import './../../scss/variables';

@font-face {
  font-family: 'special-radio-button-list-text-font';
  src: url('./../../../fonts/GT\ America\ Regular.ttf');
}

div.special-radio-button-list {
  display: inline-block;

  div.special-radio-button-list-label {
    // display: inline-block;
    letter-spacing: -0.15rem;
    font-size: 3.2rem;
    float: left;
    
    div {
      -webkit-text-stroke-width: 0.12rem;
    }

    @media screen and (max-width: $phoneWidth) {
      font-size: 2rem;

      div {
        -webkit-text-stroke-width: 0.07rem;
      }
    }
  }

  div.special-radio-button-list-buttonlist {
    position: relative;
    display: inline-block;
    margin-left: 3rem;

    input[type='radio'] {
      //   padding: 0.5rem;
      //   border: 0;
      //   border-radius: 0.25rem;
      //   background-color: #ebebfc;

      font-family: 'special-radio-button-list-text-font';
    }
    // input[type='radio'] + label {
    //   font-family: 'special-radio-button-list-text-font';
    //   font-weight: bold;
    // }
  }

  div.special-radio-button-list-buttonlist > div {
    padding: 0.5rem;
  }
  div.special-radio-button-list-buttonlist > label {
    display: block;
  }
}
