@font-face {
    src: url('./../../fonts/CircularStd/CircularStd-MediumItalic.ttf');
    font-family: Circular Italic;
}

@font-face {
    src: url('./../../fonts/GT America Regular.ttf');
    font-family: GT America Regular;
}