@import './../variables';

div.body {
  width: 100%;
  min-height: 100vh;
  background-color: #ff6df0;
  // padding-top: 15rem;

  @media screen and (max-width: $phoneWidth) {
    padding-top: 7rem;
  }
}
