.home {
    background-color: #FF6DF0;
    padding: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 5%;

    .events {
        font-size: 500%;
        color: white;
        font-family: Circular;
        font-style: italic;


    }
}