.home {
    background-color: #FF6DF0;
    padding: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 5%;

    .text {
        position: absolute;
        font-family: GT America;
        font-size: 24px;
        z-index: 3;
        top: 10%;
        left: 5%;
        width: 20%;
        color: white;
        background-color: #FF6DF0;
    }
}