//cSpell: disable
@use './../../scss/base';
@import './../../scss/variables';

@font-face {
  font-family: 'special-check-box-list-text-font';
  src: url('./../../../fonts/GT\ America\ Regular.ttf');
}

@keyframes anim-checkbox-switch-select {
  from {
    max-height: 0;
    display: none;
    margin-bottom: 0;
  }
  to {
    max-height: 1rem;
    margin-bottom: 12px;
    display: initial;
  }
}
@keyframes anim-checkbox-switch-deselect {
  from {
    max-height: 1rem;
    margin-bottom: 12px;
    display: initial;
  }
  to {
    max-height: 0;
    display: none;
    margin-bottom: 0;
  }
}

label.custom-check-box-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;

  animation: anim-checkbox-switch-select .3s ease;

  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: 'special-check-box-list-text-font';

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span.custom-check-box-checkmark {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 12px;
    width: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebfc;
  }

  span.custom-check-box-checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  input:checked ~ span.custom-check-box-checkmark {
    border-color: #2f0b4b;
  }

  input:checked ~ span.custom-check-box-checkmark:after {
    display: block;
    background-color: #2f0b4b;
  }

  span.custom-check-box-checkmark:after {
    left: 1.93px;
    top: 1.9px;
    width: 8px;
    height: 8px;
  }
}

div.checkbox-list-section.checkbox-section-closed
  label.custom-check-box-container:not(.custom-check-box-checked) {
  visibility: hidden;
  animation: anim-checkbox-switch-deselect .3s ease;
  max-height: 0;
  margin: 0;

  span.custom-check-box-checkmark {
    display: none;
  }
}
div.checkbox-list-section.checkbox-section-closed
  .custom-check-box-checked:first-child {
    margin-top: 1rem;
}
