@font-face {
    src: url('CircularStd-Black.woff');
    font-family: Circular;
}

@font-face{
    font-family: 'Circular-Std-Regular';
    src : url("./CircularStd-Black.woff") format("woff");
}
 @font-face {
    font-family: 'GT-America-Extended-Bold';
    src : url('./GT\ America\ Extended\ Bold.ttf') format("truetype");             
}