@font-face {
    src: url('CircularStd-Black.woff');
    font-family: Circular;
}

@font-face {
    src: url('./CircularStd/CircularStd-MediumItalic.ttf');
    font-family: Circular Italic;
}

@font-face {
    src: url('./GT America Regular.ttf');
    font-family: GT America Regular;
}