@use './../../../components/scss/base';
@import './../../../components/scss/variables';
@import './../../../fonts/Font.scss';

$page-padding: 2rem;
$page-padding-small: 1rem;
$page-top-padding: 15rem;
$page-top-padding-small: 7rem;
$page-width: calc(100vw - $page-top-padding - $page-top-padding);
$page-width-small: calc(
  100vw - $page-top-padding-small - $page-top-padding-small
);

div.registration-page-body {
  position: relative;
  width: $page-width;
  min-height: 100vh;
  padding: $page-padding;
  padding-top: $page-top-padding;

  background-color: #00FCDA;

  @media screen and (max-width: $phoneWidth) {
    width: $page-width-small;
    padding: $page-padding-small;
    padding-top: $page-top-padding-small;
  }

  div.registration-page-body-row {
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    padding-top: 0.5rem;
  }

  div.registration-page-body-row > div {
    display: inline-block;
    width: 50%;
    margin-bottom: 5rem;
    vertical-align: text-top;

    @media screen and (max-width: $phoneWidth) {
      display: block;
      width: initial;
    }
  }
  
  div.success-fail-alert {
    color: white;
    font-family: Circular;
    font-size: 3rem;
    background-color: #2E8B57;
  }
}
