@use './../../../components/scss/base';
@import './../../../components/scss/variables';

div.registration-page-body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    
    background-color: #ff6df0;
}