@use './../../../components/scss/base';
@import './../../../components/scss/variables';
@import './../../../fonts/Font.scss';

div.registration-page-body {
  --page-padding: 2rem;
  --page-padding-small: 1rem;
  --page-top-padding: 15rem;
  --page-top-padding-small: 7rem;
  --page-width: calc(100% - var(--page-padding) - var(--page-padding));
  --page-width-small: calc(
    100% - var(--page-padding-small) - var(--page-padding-small)
  );
}

div.registration-page-body {
  position: relative;
  width: var(--page-width);
  min-height: 100vh;
  padding: var(--page-padding);
  padding-top: var(--page-top-padding);

  background-color: #dabefd;

  @media screen and (max-width: $phoneWidth) {
    width: var(--page-width-small);
    padding: var(--page-padding-small);
    padding-top: var(--page-top-padding-small);
  }

  div.registration-page-body-row {
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    padding-top: 0.5rem;
  }

  div.registration-page-body-row > div {
    display: inline-block;
    width: 50%;
    margin-bottom: 5rem;
    vertical-align: text-top;
    @media screen and (max-width: $phoneWidth) {
      display: block;
      width: initial;
    }
    @media screen and (max-width: 768px) {
      display: block;
      width: initial;
    }
  }

  div.success-fail-alert {
    color: white;
    font-family: Circular;
    @media screen and (max-width: $phoneWidth) {
      font-size: 1.25rem;
    }
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #aa7ee5;
  }
}
