.footer {
    position: fixed;
    bottom: 0;
    padding: 1%;
    padding-top: 2%;
    background-color: #2f0B4B;
    width: 100%;

    .top {
        display: flex;
        justify-content: space-between;

        .right {
            padding-right: 5%;
            padding-top: 1%;
        }
    }


    .footer_info {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: -2.5%;
        left: 0;
        padding: 2%;


        .col {
            color: white;
            font-family: 'Circular';
            padding-right: 7.5%;

            .head {
                font-weight: 900;
                font-size: 24px;
            }

            .list {
                font-size: 16px;
                padding: 5% !important;
                line-height: 20px;
                width: 100%;

            }
        }
    }
}