@use './../scss/base';
@import './../scss/variables';

div.commonPageHeader {
  height: 20vh;
  width: 100%;
  position: relative;
  background-color: #aa7ee5;

  div.commonPageHeader-menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;

    div::after {
      content: 'MENU →';
    }

    @media screen and (max-width: $phoneWidth) {
      font-size: 2rem;

      div::after {
        content: '≡';
      }
      div {
        font-weight: lighter;
      }
    }
  }
}

.WavesLogo {
  width: 320px;
  height: 135px;
  position: absolute;
  right: 20px;
}

@media screen and (max-width: 480px) {
  .WavesLogo {
    width: 250px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
