 .block {
     height: 150px;
 }

 .event {
     padding-top: -10%;
     font-family: Circular;
     font-style: italic;
     padding-bottom: 2%;

     .title {
         position: relative;
         top: 10%;
         left: 0;
         font-size: 900%;
         width: fit-content;
         height: fit-content;
         color: #2f0B4B;
         transition: 0.5s ease-out;
         z-index: 1;
         cursor: pointer;

         @media screen and (max-width: 1500px) {
             font-size: 800%;
             top: -3%;
         }
     }

     .item {
         font-size: 450%;
         color: white;
         white-space: nowrap;
         position: relative;
         top: -110%;
         padding-left: 10%;
         padding-right: 0;
         padding-top: 0;
         padding-bottom: 0;
         transition: 0.5s ease-out;
         z-index: 0;
         cursor: pointer;

         @media screen and (max-width: 1500px) {
             font-size: 400%;
         }
     }

 }

 .block .title:hover {
     transform: translateX(-5%);

     ~.item {
         transform: translateX(10%);
     }
 }